.Meaning {
  margin-bottom: 25px;
}

.Meaning h3 {
  font-weight: 300;
}

.Meaning ol {
  list-style: decimal;
}

.Meaning p {
  margin-left: 5px;
}

.Meaning em {
  display: block;
  margin: 10px 0 15px 15px;
}
